.backButton {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.backButtonIcon {
    color: #f0f0f0;
}

.caseListConatiner {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #000;
}

.caseContentContainer {
    position: absolute;
    left: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1vh;
}

.casePreviewBoxContainer {
    background: #e0e0e0;
    margin: 4vh 0 0;
    height: 66vh;
}

.caseScriptSourceConatiner {
    margin: 2vh 0 0;
    height: 25vh;
}

.caseScriptSourceCode {
    width: 100%;
    height: 100%;
    display: block;
}
